
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color:purple;
  text-align: center;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
}

.news-list {
  display: grid;
  gap: 20px;
}

.news-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item h2 {
  color: #333;
}

.news-item p {
  color: #666;
}

.news-item a {
  color:purple;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

.news-item a:hover {
  text-decoration: underline;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  background-color: purple;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.pagination button:hover {
  background-color:purple;
}

.pagination .active button {
  background-color:black;
}


@media (max-width: 600px) {
  .app {
    padding: 10px;
  }
  .news-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image within its container */
  }
  

  .news-list {
    grid-template-columns: 1fr;
  }
}
